.markdown-desc {
  min-height: 8rem !important;
  min-width: 50%;
}

img.card-img-top {
  height: 180px;
}

.card-title {
  height: 2.4em;
}

#lang-switch > ul {
  min-width: 2rem;
}

.spinner-border {
  min-width: 128px;
  min-height: 128px;
}

/*
table {
  table-layout: fixed;
}

thead th:not(:first-child) {
  min-width: 15em;
}
*/

thead th {
  text-align: center;
}

tr > td:nth-child(1) {
  max-width: 5em;
  direction: rtl;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

tr > td.num {
  text-align: right;
}

tr > td.check {
  text-align: center;
}
